@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root{
  --primary-color: #12c2b9;
  --secondary: #dbfffe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

section{
  padding: 5rem 7%;
}

.heading{
  position: relative;
  color: rgb(21, 21, 100);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.heading::after{
  content: url('../images/separator.svg');
  display: block;
  width: 10rem;
  margin-inline: auto;
  margin-top: -1rem;
}




/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary-color);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
  padding-block: 1rem;
}

.header .navbar a:hover{
  color: var(--primary-color);
}

.header .navbar .hover-underline{
  position: relative;
  max-width: max-content;
}

.header .navbar .hover-underline::after{
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: .5rem;
  border-block: .1rem solid var(--primary-color);
  transform: scaleX(0.2);
  opacity: 0;
  transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after{
  transform: scaleX(1);
  opacity: 1;
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover{
  color: var(--primary-color);
}

#menu-btn{
  display: none;
}

.header .login-form{
  position: absolute;
  top: 115%; right: -105%;
  background: var(--white);
  box-shadow: .5rem;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: var(--black);
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box{
  font-size: 1.5rem;
  margin: .7rem 0;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  color: var(--black);
  text-transform: none;
  width: 100%;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}


.home{
  background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(../images/home.jpg);
}

.bgbutton{
  background-color: rgb(21, 21, 100);
}

.btnhover:hover{
  background-color: rgb(118, 118, 148);
  transition: 0.6s ease;
}

.about .container{
  display: flex;
  flex-wrap: wrap;
}

.about .container .about-image{
  position: relative;
  flex: 1 1 40rem;
}

.about .container .about-image img{
  width: 80%;
}

.about .container .about-image .about-img{
  position: absolute;
  bottom: -10rem;
  right: -1rem;
  width: 25rem;
  padding-block: 5rem;
}

.about .container .about-content{
  flex: 1 1 50rem;
  padding-left: 6rem;
  padding-top: 8rem;
}

.about .container .about-content h3{
  font-size: 3rem;
  color: navy;
}

.about .container .about-content p{
  font-size: 1.6rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.8;
}


.subjects .box-container{
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.subjects .box-container .box{
  border: .1rem solid rgb(21, 21, 100);
  background: rgb(169, 169, 252);
}

.subjects .box-container .box:hover{
  background: rgb(21, 21, 100);
}

.subjects .box-container .box img{
  height: 10rem;
  margin-bottom: 7rem;
}

.subjects .box-container .box h3{
  color: #444;
  padding: .5rem 0;
}

.subjects .box-container .box:hover h3{
  color: #fff;
}

.subjects .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.subjects .box-container .box:hover p{
  color: #eee;
}

.courses .box-container{
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 
}

.courses .box-container .box .image{
  height: 25rem;
  overflow: hidden;
}

.courses .box-container .box:hover .image img{
  transform: scale(1.1);
}

.courses .box-container .box .image h3{
  position: absolute;
  top: 1rem; 
  left: 1rem;
  padding: 0.5rem 1.5rem;
}

.courses .box-container .box .content{
  position: relative;
  border: 0.1rem solid rgb(21, 21, 100);
}

.courses .box-container .box .content .stars{
  padding: 1rem 0;
}

.courses .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: rgb(169, 169, 252);
}



.teacher .box-container{

  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

}

.teacher .box-container .box{

  box-shadow: var(--box-shadow);
  
  position: relative;

}

.teacher .box-container .box .image{
  position: relative;

}

.teacher .box-container .box .image img{
  background: rgb(169, 169, 252);

}

.teacher .box-container .box:hover .image .share{
  bottom: 0;
}

.teacher .box-container .box .image .share{
  position: absolute;
  bottom: -10rem; 
  left: 0; right: 0;
  padding: 2rem;
}

.teacher .box-container .box .image .share a{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0 1rem;
  color: rgb(169, 169, 252);
  background: rgb(21, 21, 100);
  border-radius: .5rem;
}


.review .slide{

  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);

  position: relative;
}



.review .slide .user{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

.review .slide .user img{
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  border: .1rem solid lightblue;
  padding: .5rem;
}

.review .slide .user .stars i{
  font-size: 1.3rem;
  color: rgb(169, 169, 252);
}




.container h2{
    color: navy;
    font-size: 24px;
}
